* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background: #25274d;
}

header {
	display: flex;
	flex-direction: column;
	min-height: 30vh;
	justify-content: center;
	align-items: center;
}

header h1 {
	padding: 1rem;
}

header h4 {
	color: #aaabb8;
}

span {
	color: #2e9cca;
}

#logo {
	font-size: 4rem;
	text-decoration: none;
	color: #aaabb8;
}

.search-form {
	padding: 2rem;
	display: flex;
}

.search-form input {
	font-size: 2rem;
	padding: 0.5rem;
	width: 100%;
	border: none;
	border: 2px solid #2e9cca;
}

.search-form button {
	border: none;
	padding: 0.5rem;
	font-size: 1rem;
	background: #2e9cca;
	color: #fff;
	cursor: pointer;
}

.gallery-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #2e9cca;
	padding: 0.5rem 0rem;
}

.gallery-info a {
	color: #aaabb8;
}

.gallery-info a:hover {
	color: #2e9cca;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	padding: 2rem 0rem;
	width: 80%;
	margin: auto;
	row-gap: 5rem;
	column-gap: 3rem;
}

.gallery-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: #aaabb8 3px solid;
}

.nav-btn {
	min-height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.more {
	padding: 1rem 3rem;
	background: #2e9cca;
	color: #feffff;
	border: none;
	font-size: 1.2rem;
	cursor: pointer;
}
