* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

header {
	display: flex;
	flex-direction: column;
	min-height: 30vh;
	justify-content: center;
	align-items: center;
}

header h2 {
	padding: 2rem;
}

#logo {
	text-decoration: none;
	color: #000;
}

.search-form {
	padding: 2rem;
	display: flex;
}

.search-input {
	font-size: 2rem;
	padding: 0.5rem;
	width: 100%;
	border: none;
	border: 2px solid #2533af;
}

.search-form button {
	border: none;
	padding: 0.5rem;
	font-size: 1rem;
	background: #2533af;
	color: #f0ffff;
	cursor: pointer;
}

.gallery-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #a9a9a9;
}

.gallery-info a {
	color: #555454;
}
